<div id="about-content">

    <div class="about-text">
        <title>ABOUT</title>
        {{about_paragraph}}
    </div>

    <div class="about-info">
        <title>FOUNDERS</title>
        Zeina Koreitem<br />
        John May<br />
        Juan Garcia Mosqueda
    </div>

    <div class="about-info">
        <title>{{contact_title}}</title>
        contact@res-extensa.com<br />
        IG        @rsxtnsa
    </div>
      
</div>