<div id="about-content">

    <div class="about-text">
        <title>ABOUT</title>
        {{about_paragraph}}
    </div>

    <div class="about-info">
        <title>FOUNDERS</title>
        {{{founders_info}}}
    </div>

    <div class="about-info">
        <title>CONTACT</title>
        {{{contact_info}}}
    </div>

</div>