<div id="extracts-content">

    <div class="col-left">

        <title>EXTRACTS</title>
        <subtitle>FILES</subtitle>
        <text>8 Items</text>

        <div id="boxes">
            <label><input type="checkbox" class="box"><text>html</text></label>
            <label><input type="checkbox" class="box" value="first_checkbox"><text>.pdf</text></label>
            <label><input type="checkbox" class="box" value="first_checkbox"><text>I agree to the terms and conditions</text></label>
        </div>

        <input type="text" class="email" value="email">
        <subtitle>DOWNLOAD</subtitle>

        <div id="terms">
            TERMS AND CONDITIONS <br /><br />
            A&#41; Terms and Conditions agreement is the agreement that includes the terms, the rules and the guidelines of acceptable behavior and other useful sections to which users must agree in order to use or access your website and mobile app.
        </div>
    </div>

    <div class="col-right">

        <div class="row img">
            <category>Image</category>
            <img src="images/extracts-1.jpg"/>
            <div class="epigraph">
                FIGURE 1. John Baldessari, Wrong (1966–68). The subject is placed directly in front of a palm tree so it appears to be sprouting from his head. Courtesy of John Baldessari.
            </div>
        </div>

        <div class="row text">
            <category>Text</category>
            <div class="title">
                THE EPISTEMOLOGY OF 0 SEARCH
            </div>
            <div class="epigraph">
                An interview with David Joselit Architecture after the 'Era of Art.'
                Read more
            </div>
        </div> 

        <div class="row img">
            <category>Image</category>
            <img src="images/extracts-2.jpg"/>
            <div class="epigraph">
                FIGURE 2. Andrew Benson, Status Update, 2am (2011). Color video, 36 seconds. Portrait of the artist awake at his computer at 2 a.m. Courtesy of Andrew Benson.
            </div>
        </div>
           
    </div>
    </div>

</div>