<div id="image-content">

    <div class="col-left">

        <div class="post">
            <h2 class="title">Post title</h2>
            <h3 class="author">Firstname Lastname</h3>
            <h4 class="subtitle">Subtitle</h4>
        </div>

        <div class="text">
            <p>Western culture’s simultaneous embrace and denial of failure is frustrating.¹ On the one hand, failure touches everything from environmental breakdown and unwanted computational errors to business, social life, and personal psychol.ogy. On the other hand, only a very narrow constituency acknowledges these fiascoes as anything beyond mere fashion—the vast majority of people and insti.tutions want to rid themselves of the slightest hint of failure at the earliest pos.sible opportunity. In Silicon Valley, for instance, entrepreneurs are encouraged to heedlessly “Fail Fast, Fail Often,” regardless of risk. On “Fuck-up Night” at the annual FailCon conference, founded in San Francisco to address digital failure, entrepreneurs are invited to share their startup mistakes with a packed audience. Fuck-up Night started in Mexico City in 2012, but has since become so popular that it now convenes annually in more than seventy cities in twenty-six countries around the world (in short, it is a huge success).² One might also cite Elon Musk’s fail-friendly autopilot software for Tesla; RAND-style zero-sum scenarios;³ and General Electric’s Six Sigma, a program aiming to measure and eliminate at least 99.99 percent of potential defects in every GE product.⁴ 
	Once found by hackers, even undetected high-tech errors, known as “zero-day exploits” (because a company has spent “zero days” trying to resolve the yet-to-be acknowledged problem), can sell upwards of $50,000 on China’s black market, a precarious “dark net” of hackers and high-tech competitors who participate in activities ranging from traditional hacking disruptions, to extracting unforeseen errors in software, to finding entry points into a product’s highly secret proprietary code. With Apple’s iPhone, one single line of unobserved erroneous code, if caught ¹ by hackers, can be sold on China’s black market for millions, leading to lucrative profits in the production of cheaper knock-offs.⁵ 	Beyond high-tech vogue, failure shapes the contours of contemporary culture. In 2017, the Swedish Innovation Authority in conjunction with curator Samuel West launched the Museum of Failure in Helsingborg, Sweden, and at the A+D Architecture and Design Museum in Los Angeles. The exhibition featured a col.lection of “failed products and services from around the world,” including the Apple Newton, Bic for Her, Google Glass, Harley-Davidson Cologne, the Sony Betamax, and Swedish Fish Oreos. The idea was inspired by West’s 2016 visit to the “Museum of Broken Relationships” in Zagreb, Croatia (2003–), an exhibition dedicated to failed love relationships. Upon his return, West extended the concept to industry at large. According to West, “80 to 90 percent of innovation projects fail and you never read about them, you don’t see them, people don’t talk about them.”⁶</p>
        </div>
    
    </div>

    <div class="col-right">

        <div class="row img">
            <category>Image</category>
            <img src="images/extracts-1.jpg"/>
            <div class="epigraph">
                FIGURE 1. John Baldessari, Wrong (1966–68). The subject is placed directly in front of a palm tree so it appears to be sprouting from his head. Courtesy of John Baldessari.
            </div>
        </div>

        <div class="row text">
            <category>Text</category>
            <div class="title">
                THE EPISTEMOLOGY OF 0 SEARCH
            </div>
            <div class="epigraph">
                An interview with David Joselit Architecture after the 'Era of Art.'
                Read more
            </div>
        </div> 

        <div class="row img">
            <category>Image</category>
            <img src="images/extracts-2.jpg"/>
            <div class="epigraph">
                FIGURE 2. Andrew Benson, Status Update, 2am (2011). Color video, 36 seconds. Portrait of the artist awake at his computer at 2 a.m. Courtesy of Andrew Benson.
            </div>
        </div>
        
    </div>
    
</div>
