<div class="landing-loading">
    <div class="landing-text">
        <g>R</g>e<g style="margin-right: 10px;">s</g>E<g>x</g>te<g>n</g>sa</a>
    </div>
</div>

<style>
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background: white;
    }
</style>