<div id="content">

    <div class="project-row">
        <date>Apr 1st 2020</date>
        <div class="project">
            <title>{{title}}</title>
            <author>Carolyn Kane</author>
        </div>
        <p>{{{body}}}</p>
        <a href="" class="row-link"></a>
        <a href="#" class="category">Text</a>

        {{#each images}}
        <img src="{{col_id_11}}" />
        <p>{{col_id_12}}</p>
        {{/each}}
    </div>

</div>