<div id="content">

    <div class="project-row">
        <date>Apr 1st 2020</date>
        <div class="project">
            <title>WELCOME TO THE FAILURE AGE</title>
            <author>Carolyn Kane</author>
        </div>
        <a href="" class="row-link"></a>
        <a href="#" class="category">Text</a>
    </div>
    
</div>