<div id="video-content">

    <div class="entries-nav">
        <a id="arrow-prev" href="#"><img src="/arrow-prev.svg" /></a>
        <a id="arrow-next" href="#"><img src="/arrow-next.svg" /></a>
    </div>

    <div class="post">
        <time>Apr 1st 2020</time>
        <h2 class="title">{{title}}</h2>
        <h3 class="author">{{author}}</h3>
        <!--video controls src="{{video}}" /-->
    </div>

    <div class="post-content">
        <div class="video-row">
            <video width="100%" controls src="{{video}}" />
        </div>     
    </div>


</div>

</div>