#about-content {
    margin-top: 5.5vw;
    padding: 1vw 1vw 2.2vw 1vw;
}

title {
    display: block;
    font-family: 'Phase GGX 100';
    font-size: 3.1vw;
    padding-bottom: 1.1vw;
}

.about-text {
    font-family: 'Favorit Pro Light';
    font-size: 3.1vw;
    text-transform: uppercase;
    line-height: 1.1;
    padding-right: 2.2vw;
}

.about-info {
    font-family: 'Happy Times Regular';
    font-size: 1.4vw;
    line-height: 1.1;
    padding-bottom: .9vw;
}

#about-info title {
    padding-top: 1.8vw;
}


