/*SCROLLBAR*/
::-webkit-scrollbar {
	display: none;
}

html,body {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    /*
    overflow: hidden;
    overscroll-behavior-x: none;
    */
    display: block;
}

* {
    font-weight: normal;
}

h2, h3, h4, h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    margin: 0;
}

/*MENU*/
nav {
    font-family: 'Favorit Pro Light';
    font-size: 3.1vw;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    width: 98vw;
    height: 5.25vw;
    border-bottom: 1px solid black;
    padding: .25vw 1vw 0 1vw;
    background: #f2f2f2;
    z-index: 99999999;
}

nav a { 
    color: black;
    text-decoration: none;
}

nav .sitetitle {
    position: absolute; 
}

g {
    font-family: 'Galapagos';
}

nav #menu{
    float: right;
    text-align: right;
    margin-top: .25vw;
}

nav #menu a{
    margin-left: 2.8vw;
    line-height: 1;
}

nav #menu a img { 
    width: 2.6vw;
    position: relative;
    top: .25vw;
    pointer-events: none !important;
}

nav #menu a#random-button:hover img{
    display: none;
}

nav #menu a#random-button:hover:after {
    content: "RANDOM";
    display: inline;
}
nav #menu a:hover:after{
    line-height: 20px;
}
nav #menu a#chrono-button:hover img{
    display: none;
}

nav #menu a#chrono-button:hover:after {
    content: "CHRONOLOGICAL";
    display: inline;
}

nav #menu a#about-button:hover img{
    display: none;
}

nav #menu a#about-button:hover:after {
    content: "ABOUT";
    display: inline;
}

nav #menu a#extracts-button:hover img{
    display: none;
}

nav #menu a#extracts-button:hover:after {
    content: "EXTRACTS";
    display: inline;
}

nav #menu a#search-button:hover img{
    display: none;
}

nav #menu a#search-button:hover:after {
    content: "SEARCH";
    display: inline;
}


/*ENTRIES NAV (ARROWS)*/
.entries-nav {
    
}

.entries-nav #arrow-next,
.entries-nav #arrow-prev{
    cursor: pointer;
}
/*MOBILE*/
@media (max-width:600px){

    /* MENU */
    nav {
        font-family: 'Favorit Pro Light';
        font-size: 10.5vw;
        text-transform: uppercase;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 14vw;
        border-bottom: 1px solid black;
        z-index: 999;
    }

    .sitetitle {
        width: 100vw;
        text-align: center;
        padding: 1vw 0;
    }

    #menu {
        position: fixed;
        width: 100vw;
        height: 14vw;
        left: 0;
        bottom: 0;
        background: #f2f2f2;
        border-top: 1px solid black;
        padding: 0vw 0;
    }

    nav #menu { 
        float: inherit;
        text-align: center;

    }

    nav #menu a { 
        margin: 0 5vw ;
    }

    nav #menu a  { 
        position: relative;
    }

    nav #menu a img { 
        width: 7.5vw;
        pointer-events: auto !important;
    }

    nav #menu a#random-button:after, nav #menu a#chrono-button:after, nav #menu a#about-button:after, nav #menu a#extracts-button:after, nav #menu a#search-button:after {
        position: fixed;
        bottom: 14vw;
        left: 0;
        width: 100vw;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 1.25vw 0;
        font-size: 10.5vw;
        background: #f2f2f2;
        color: #B087FF;
    }
    

    nav #menu a#random-button:hover img, nav #menu a#chrono-button:hover img, nav #menu a#about-button:hover img, nav #menu a#extracts-button:hover img, nav #menu a#search-button:hover img{
        display: inline;
    }
    
}
nav.landing{display: none; }
nav.landing,
nav.random{
    background: transparent;
    border-bottom: 0;
}

#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    backdrop-filter: blur(1px);
    display: none;
    background: #f2f2f2;
}

#preloader #spinner{
    width: 100px;
    height: 100px;
    background: black;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}

.section-landing{
    background: rgb(251,205,207);
    background: linear-gradient(180deg, rgba(251,205,207,1) 0%, rgba(242,246,237,1) 100%);
}