#sound-content {
    /*padding: 1vw 1vw 2.2vw 1vw;*/
}

.entries-nav { 
    width: 98vw;
    padding: .25vw 1vw 0 1vw;
    position: fixed;
    top: 6vw;
}

.entries-nav a img { 
    width: 3.3vw;
    position: relative;
    top: .25vw;
    pointer-events: none !important;
}

.entries-nav #arrow-prev {
    position: absolute;
    left: 1vw;
}

.entries-nav #arrow-next {
    position: absolute;
    right: 1vw;
}

.col-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50vw;
    height: 100%;
    padding: 1.4vw 0 0 0;
    border-right: 1px solid black;
    overflow-y: scroll;
}

#sound-content .col-left .post {
    display: block;
    text-align: center;
    padding: 5.5vw 1.2vw 2.5vw 1.2vw;
    border-bottom: 1px solid black;
}

.col-left time {
    font-family: 'Favorit Pro Light';
    font-size: 1.2vw;
}

.col-left .title {
    display: block;
    font-family: 'Favorit Pro Light';
    font-size: 2.5vw;
    line-height: .9;
    text-transform: uppercase ;
    padding-top: 2vw;
}

.col-left .title:before {
    content: open-quote;
}

.col-left .title:after {
    content: close-quote;
}

.col-left .author {
    display: block;
    font-family: 'Phase GGX 100';
    font-size: 2.3vw;
    line-height: .9;
}

/*
.col-left subtitle {
    display: block;
    font-family: 'Phase GGX 100';
    font-size: 2.3vw;
    line-height: 1;
    padding-top: 1.4vw;
}
*/

.col-left .audio {
    font-family: 'Favorit Pro Light';
    font-size: 1.3vw;
    line-height: 1.25;
    padding: 1.2vw 1.2vw 0 1.2vw;
}

.audio .play {
    line-height: 1.25;
    display: inline;
}

.play-wrapper{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.audio .play .button {
    cursor: pointer;
}

.audio .play .track {
    margin-top: -0.5vw;
    padding-left: .3vw;
}


.audio time {
    position: relative;
    display: inline;
    float: right;
}

.audio audio {
    display: block;
    margin-top: 3vw;
    width: 100%;
}

.audio .tracklist {
    padding-top: 2.5vw;
    font-family: 'Favorit Pro Light';
    font-size: 1vw;
}

/*RIGHT COLUMN*/

.col-right {
    position: fixed;
    top: 0vw;
    right: 0;
    height: 100%;
    width: 50vw;
    /*padding-top: 1vw;*/
    overflow-y: scroll;
}

#sound-content .col-right .img-row:first-child {
    padding-top: 6.7vw;
}

#sound-content .col-right .img-row:last-child {
    border-bottom: 0;
}

/*
.row category {
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'Favorit Pro Light';
    font-size: 20px;
    text-align: left;
    letter-spacing: 0em; 
    line-height: 1;
    padding: 1.2vw;
}
*/



/* IMAGE */
.img-row {
    display: block;
    padding-bottom: 1.2vw;
    border-bottom: 1px solid black;
}

.img-row img{
    width: 70%;
    padding-left: 1.2vw;
}

.img-row .epigraph{
    font-family: 'Favorit Pro Light';
    font-size: 16px;
    padding: .5vw 1.2vw 1vw 1.2vw;
}